[submodule "frontend"]
	path = frontend
	url = https://github.com/FizanMuhammedFaisal/CrystalQuest-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/FizanMuhammedFaisal/CrystalQuest-backend.git
